[submodule "EntornosAvanzados/01_test/lib/forge-std"]
	path = EntornosAvanzados/01_test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EntornosAvanzados/01_intro_foundry/lib/forge-std"]
	path = EntornosAvanzados/01_intro_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EntornosAvanzados/01_intro_foundry/lib/solmate"]
	path = EntornosAvanzados/01_intro_foundry/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "EntornosAvanzados/01_intro_foundry/lib/openzeppelin-contracts"]
	path = EntornosAvanzados/01_intro_foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
